# Ignorar archivos objeto y ejecutables
*.o
*.out
*.exe
*.a
*.so
*.dll

# Ignorar directorios de construcción
build/
dist/
bin/
obj/

# Otros archivos que se suelen ignorar
*.log
*.tmp

cmake-build-debug/
.idea